doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1= title
    p Please select an option:
    form(action='/start-server', method='post')
      input.button(type='submit', value='Start the server')
    form(action='/new-exchange', method='post')
      input.button(type='submit', value='Establish an exchange')
    form(action='/new-queue', method='post')
      input.button(type='submit', value='Establish a message queue')
    form(action='/')

  h3 The connection status is currently:
  p= connectionStatus
  p= exchangeStatus
  p= queueStatus

  if (queueStatus == 'The queue is ready for use!' && exchangeStatus == 'An exchange has been established!')
    a(href='/message-service') Click here to go to the messaging service!